/* * {
  text-align: center;
  /* background-size: cover; */
  /* background-repeat: no-repeat;
  background-image: url(../morty.jpg);
  background-size: 1300px;
  background-position: center; */

Nav {
  /* background-image: url("./pictures/lmqrkt.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  font-size: 3em;
  border-radius: 10%;
  font-family: 'Get Schwifty';
  color: #08BAE3;
  z-index: 50;
  -webkit-text-stroke: 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 40px 0 green;
  background-color: green;
}
/* font-size: 25px; */

body {
  text-align: center;
  background-color: lightblue;
}

.App {
  height: 100vh;
  overflow: scroll;
  border-radius: none;
}

.characters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}



.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: black;

}

.modal-content {
  height: 50vh;
  width: 25vw;
  
  /* color: black; */
  /* background-color: rgba(0, 0, 0, .7); */
  /* border-radius: 20%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  background-image: url(../lost_in_space.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 10px; */
  box-shadow: 0 0 700px black;
}


button {
  /* border: 10px; */
  left: -50px;
  text-align: center;
  background-color: red;
}

.info {
  color: white;
  margin: 0px;
}

.image {
    box-shadow: 0 0 30px 0 green;
    cursor: wait;
}

@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}